/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body {
  background-color: #f8f8f8;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- Le code commence ici --- */

a {
  color: #999999;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #999999;
  font-weight: bold;
  background-color: #1fe0;
  width: 100%;
  position: relative;
  font-size: medium;
}

#myVideo {
  width: 100%;
}

.overlay {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(212, 5, 5, 0.7679446778711485) 67%
  );
      width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
}

.slogan {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.slogan h3 {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  margin-left: 2em;
  transform: translateY(50%);
}
.Logo {
  display: flex;
}

.star {
  color: yellow;
}

#note {
  color: black;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  color: #999999;
}

.navigation a:hover {
  text-decoration: underline;
}
.navigation li {
  padding: 10px;
}

a:link {
  text-decoration: none;
}

.main-banner {
  padding: 7% 0;
  text-align: center;
  position: relative;
}

.logoM2i {
  width: 50%;
}
.main-banner h2 {
  font-size: larger;
}

.main-banner h1 {
  font-size: xx-large;
  font-weight: bolder;
}

input {
  width: 60%;
  border-radius: 3vh;
  height: 5vh;
}

.formations {
  margin-top: 3em;
  text-align: center;
}
.formations + .formations {
  background-color: #e7e6e6;
}

.formations h3 {
  color: red;
  font-size: x-large;
  font-weight: bolder;
  padding-left: 5%;
  padding-bottom: 1vh;
}

.formations:nth-child(3) h3 {
  color: black;
}

.formations_card {
  display: flex;
  justify-content: center;
}

.formation {
  padding: 1vh;
  margin: 1vh;
  background-color: white;
}

.formation:hover {
  background-color: #999999;
}

.formation h4 {
  justify-content: center;
  margin-bottom: 1em;
  display: flex;
  font-weight: bolder;
}

.tiny_info {
  color: red;
}
img {
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  padding: 0 10em;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.cards :nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.card_content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tiny_card_objective {
  margin-bottom: 1em;
}
.card_objective {
  margin-bottom: 1em;
  font-size: x-large;
  font-weight: bold;
}

.card_text {
  color: #999999;
}
.dessin {
  width: 30%;
}

.More {
  background-color: red;

  width: 8em;
  padding: 1vh;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: inline;
}

.tiny_card_objective {
  color: red;
  font-size: small;
  font-weight: bold;
}

.emplois {
  display: flex;
  justify-content: space-evenly;
}

.emploi {
  width: 45%;
  font-weight: bold;
  margin-top: 5em;
}

.localisation {
  color: red;
}

.metier {
  font-size: x-large;
  font-weight: bolder;
  margin: 1em 0;
}

.duree {
  color: #999999;
  margin: 2em 0;
}

.universM2i {
  display: flex;
  justify-content: center;
}

.titleUnivers {
  font-size: x-large;
  font-weight: bolder;
}

.processusCards {
  width: 12%;
  margin-left: 3em;
}

.avatar {
  width: 25%;
}

.processusCards_card_title_m2i {
  font-size: x-large;
  line-height: 1;
  margin-bottom: 1em;
  font-weight: bold;
}

.processusCards_card_content_m2i {
  color: #999999;
}

.processusCards_More {
  display: flex;
  background-color: red;
  width: 70%;
  justify-content: center;
  color: white;
}

.arrow {
  margin-right: 1em;
}

.news {
  display: flex;
  margin-top: 5em;
  justify-content: center;
}

.news_card {
  margin-left: 1em;
  background-color: white;
  padding: 2em;
}

.news_card:hover {
  background-color: #999999;
}

.card_tiny_news {
  color: red;
  font-weight: bold;
}

.card_news_title {
  font-weight: bolder;
  font-size: xx-large;
}

.subBanner {
  background-image: url("../images/bottomBanner.png");
  height: 20em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.subBanner::after {
  filter: blur(5px);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(212, 5, 5, 0.36458333333333337) 67%
  );
}

.titleMain {
  width: 30%;
  font-size: 2em;
  color: white;
  font-weight: bolder;
}

.contact {
  font-size: 1em;
  background-color: red;
  padding: 0.4em;
  font-weight: bolder;
  margin-top: 5em;
}

.carousel {
  text-align: center;
  margin: 0 4em;
}

#carousel_title {
  padding-top: 3em;
  font-size: x-large;
  font-weight: bolder;
}

.carousel_photos {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.sponsor {
  height: 8em;
  width: auto;
  margin-left: 1em;
}

.footer_banner {
  background-color: #050c41;
  color: white;
  display: flex;
  padding: 3em 0;
  font-size: x-small;
  line-height: 1.3;
  width: 100%;
}

.footer_nav {
  margin-left: 6em;
  width: 20%;
}

.footer_nav h6 {
  margin-bottom: 2em;
  font-weight: bolder;
  font-size: small;
}

.footer_nav h5 {
  font-size: large;
  font-weight: bolder;
}

.footer_nav li {
  color: #999999;
}

.socials_nav {
  display: flex;
  font-size: x-large;
}

.social_nav {
  padding-right: 1em;
  padding-top: 1vh;
}

.m2i_footer_logo {
  width: 35%;
}

.edtech_logo {
  width: 50%;
}

header {
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
